<div class="container text-center navbar bg-info row">
    <div class="col-lg-5">
    <header><a  style="color: #000 !important" class="text-left" href="http://localhost:60894/Home/Index"><span style="font-size: 120%;">User</span><br />
                                                                            <span>management system</span></a></header>
    </div>
    <ul class="navbar col-lg-7">
        <li class="text-center"><a href="http://localhost:60894/User/Index">Users</a></li>
        <li class="text-center"><a href="http://localhost:60894/Group/Index">Groups</a></li>
        <li class="text-center"><a href="http://localhost:60894/Resources/Index">Resources</a></li>
    </ul>
</div>
